.header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-top: 30px;
    &__link {
        color: #fff;
        text-decoration: none;
        &:nth-child(n):not(:last-child) {
            margin-right: 40px;
        }
    }
}