.coffee-list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-top: 60px;
    width: 850px;
    padding-bottom: 30px;
}